extends layout.pug

block number1
    if error
        p.error Please fill both inputs!

    if success
        p.success Note has been created successfully!

    if deleted 
        p.success Deleted successfully!

    form(action="/create" method="POST")
        div.container
            input.input-note(type="text" placeholder="Add Note title" name="noteTitle")
            button.btn Create
        input.input-description(type="text" placeholder="Add Note description" name="noteDescription")

    div.notes
        if (notes.length)  
            each note in notes
                div.card
                    div.content
                        p.note-title-para #{note.noteTitle}
                        p.note-description-para #{note.noteDescription}
                    a.delete(href=`/${note.id}/delete`) Delete
        else
            p.note-description-para There is no note yet!