doctype html
html(lang="en")
    head
        title Task Manager App 
        link(rel="stylesheet", href="/static/main.css")
    body 
        div.wrapper
            h1.logo Task Manager App 

            block number1